body {
    background-image: url(./photo_2023-12-28_14-04-50.jpg);
}

.container {
 text-align: center; 
  margin-top: 100px;
}

form {
  border-radius: 5px; /* Rounded edges for the form */
  padding: 20px;
  background-color:none; /* Light gray background for the form */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

.form-group {
  margin-bottom: 15px;
}

.form-list {
  list-style-type: none; /* Remove default bullets */
  padding: 0;
  margin: 0;
}

.form-list li {
  margin-bottom: 15px; /* Add spacing between list items */
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 40%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px; /* Rounded edges for input fields */
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px; /* Rounded edges for button */
  cursor: pointer;
}
